.mainTop {
    background-image: url("./../../../images/MainPage/e6ccc76ed363d0793e734c254ea3f9e6.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    min-height: 860px; 
}

.container {
    max-width: 1140px;
    padding: 0 15px;
    margin: 0 auto;
    width: 100%;
   
}

.mainTopContent {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 274px 0 205px 0;
}


.titleWrap {
    max-width: 985px;
    margin-bottom: 55px;
}

.title {
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 48px;
    color: #ffffff;
    font-family: "conthraxsemibold";
    text-transform: uppercase;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'conthraxsemibold';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    padding: 0 50px;
    height: 69px;
    color: #ffffff;
    background: rgba(0, 0, 0, 0.83);
    box-shadow: inset 7.53333px -7.53333px 7.53333px rgba(149, 149, 149, 0.1), inset -7.53333px 7.53333px 7.53333px rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15.0667px);
    border-radius: 3px;
    border: none;
}

.btn:hover {
    background: #C4C4C4;
    box-shadow: inset 15.9px -15.9px 15.9px rgba(149, 149, 149, 0.1), inset -15.9px 15.9px 15.9px rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(31.8px);
    transition: .7s ;
    cursor: pointer;
}

/* aboutUs */

.aboutUs {
    padding: 55px 0 45px 0;
}

.aboutTitle {
    font-family: 'conthraxsemibold';
    font-style: normal;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 600;
    font-size: 48px;
    padding-bottom: 40px;
    border-bottom: 2px solid #666666;
}

.aboutUs .wrapper {
    padding-top: 35px;
    display: grid;
    grid-template-columns: 7fr 5fr;
    gap: 20px;
}

.aboutUsSubtitle {
    margin-bottom: 80px;
    font-family: 'conthraxsemibold';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    color: #C4C4C4;
}

.aboutInner {
    display: flex;
    flex-direction: column;
    gap: 70px;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color:  #FFFFFF;
}


/* .wrapperRight::before {
    content:"";
    position: absolute;
    background-image: url("./../../../images/MainPage/pseudoLine.svg");
    top: 20px;
    left: -45px;
    width: 2px;
    height: 422px;
} */

.wrapperRightImg {
    width: 571px;
    height: 100%;
    object-fit: cover;
    
}

/* services */

.services {
    padding: 15px 0 45px 0;
    position: relative;
    overflow: hidden;
    background-image: url('./../../../images/blur.svg');
    background-repeat: no-repeat;
    background-position-x: -50px;
}


.servicesTitle {
    font-family: 'conthraxsemibold';
    font-style: normal;
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 600;
    font-size: 48px;
    line-height: 58px;
    margin: 0px 80px 34px 0px;
    padding-left: 75px;
}


.servicesTitleWrap {
    padding-left: 140px;
}

.services .wrapper {
    display: grid;
    grid-template-columns: 4fr 4fr 4fr;
}

.services .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.services .itemLogo {
    object-fit: cover;
    margin-bottom: 15px;
    height: 195px;
    width: 222px;
}
.services .itemName {
    font-family: 'conthraxsemibold';
    font-style: normal;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 600;
    font-size: 20px;
    text-decoration: none;
}

.services .itemName:hover {
    color: #959595;
}

.services .itemName:active {
    color:#666666;
}


/* feedback */

.feedback {
    position: relative;
    overflow: hidden;
}


.feedbackTitle {
    font-family: 'conthraxsemibold';
    font-style: normal;
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 600;
    font-size: 48px;
    line-height: 58px;
    margin-bottom: 90px;
    
}

.feedback .wrapper {
    display: flex;
    justify-content: space-between;
}

.feedback .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.feedback .itemLogo {
    width: 342px;
    height: 322px;
    background: #25262B;
    border-radius: 7px; 
    border: solid rgba(149, 149, 149, 0.46);
}


.feedback .itemName {
    font-family: 'conthraxsemibold';
    font-style: normal;
    text-align: left;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 250px;
}

/* form */

.feedbackForm {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 130px;
    padding-bottom: 100px;
    border-bottom: 2px solid #666666;
    position: relative;
}


.formShape {
    width: 936px;
    border: 2px solid #959595;
    box-sizing: border-box;
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.1));
    border-radius: 10px; 
}

.formTitle {
    font-family: 'conthraxsemibold';
    font-weight: 600;
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    color: #959595;
    padding: 5px 2px 0px 2px;
    margin-bottom: 60px;
}

.formLabel {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    text-align: center;
    color: #FFFFFF;
}

.formBox {
    margin: 120px 0px 80px 0;
    padding: 0 60px;
}

.inputBox {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.btnWrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 45px;
}
/* 
contacts */

.contacts {
    margin-top: 30px;
}


.contactsWrapper {
    display: grid;
    grid-template-columns: 6fr 6fr;
    padding-bottom: 30px;
    border-bottom: 2px solid #666666;
}

.socialsTitle {
    font-family: 'conthraxsemibold';
    font-style: normal;
    font-size: 36px;
    line-height: 43px;
    text-align: left;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-top: 25px;
}


.placeBox {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.placeBoxTitle {
    font-family: 'conthraxsemibold';
    font-style: normal;
    font-size: 36px;
    line-height: 43px;
    text-align: center;
    margin: 0 auto;
    text-transform: uppercase;
    color: #FFFFFF;
    max-width: 473px;
    margin-bottom: 35px;
}

 .mapBox {
    width: 100%;
    height: 100%;
} 

/* contacts socials */

.socialsContent {
    display: grid;
    grid-template-rows:  1fr;
    font-family: 'conthraxsemibold';
    font-style: normal;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;

}
.phone {
    display: flex;
    margin-top: 93px;
    flex-direction: column;
    gap: 32px;
}

.phoneTitle {
    position: relative;
    padding-left: 40px;
}

.phoneTitle::after {
    position: absolute;
    content: "";
    left: -46px;
    top: -18px;
    height: 69px; 
    width: 115px;
    background-image: url('./../../../images/MainPage/phone.svg');
   
}

.mail {
    display: flex;
    margin-top: 55px;
    gap: 27px;
    flex-direction: column;
    position: relative;
    
}

.mailTitle {
    position: relative;
    padding-left: 65px;
   
}

.mailTitle::after {
    position: absolute;
    content: "";
    background-image: url('./../../../images/MainPage/letter.svg');
    display: block;
    height: 68px; 
    width: 118px;
    left: -39px;
    top: -18px;
}

.networks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 40px;
}

.networksTitle {
    margin-bottom: 30px;
}

.networksLogos {
    display: flex;
    gap: 20px;
}

.socialLogo {
    width: 50px;
}