.servicesItem {
    display: flex;
    gap: 233px;
    padding: 50px 0px;
    border-bottom: 2px solid #666666;
}

.servicesItem:first-of-type {
    background-image: url('./../../../../images/blur.svg');
    background-repeat: no-repeat;
    background-position-y: -50px ;
}

.servicesItem:nth-of-type(4) {
    background-image: url('./../../../../images/blur.svg');
    background-repeat: no-repeat;
    background-position-x: 355px ;
}

.servicesItem .container {
    width: 100%;
    
    display: flex;
    gap: 230px;
}

.imgBox {
    width: 296px;
    height: 262px;
    background-color: #ffffff;
}

.servicesItem .img {
    width: 100%;
    height: 100%;
}

.textBox {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-left: 2px solid #666666;
    padding-left: 67px;

}

.textBoxTitle {
    font-family: 'conthraxsemibold';
    font-style: normal;
    color: #ffffff;
    font-weight: 600;
    font-size: 20px;
    text-decoration: none;
}

.textBoxDescOne, .textBoxDescTwo, 
.textBoxDescThree, .textBoxDescFour,
.textBoxDescFive, .textBoxDescSix {
    color: #ffffff;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 17px;
    display: flex;
    flex-direction: column;
    gap: 0px;

}

.textBoxDescOne {
    gap: 20px;
    max-width: 510px;
    position: relative;
}

.textBoxDescThree {
    max-width: 347px;
}

.textBoxDescFour {
    max-width: 372px;
    position: relative;
}

.servicesLink {
    font-family: 'conthraxsemibold';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 23px;
    color: #FFFFFF;
    cursor: pointer;
    text-decoration: none;
    height: 20px;
    display: inline-block; 
    /* margin-top: 25px; */
    width: 230px;
}


.servicesLink:hover {
    color: #000000;
}

.linkIcon {
    position: relative;
    top: -1px;
    left: 20px;
    vertical-align: middle;
}




