.oneServicePageTop {
    background-image: url("./../../../images/OneServicePage/main.svg");
    min-height: 860px; 
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-content: center;
    background-size: cover;
}

.container {
    max-width: 1140px;
    padding: 0 15px;
    margin: 0 auto;
    width: 100%;
}

.oneServicePageContent {
    margin: 260px 0 230px 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.mainTitle, .title {
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 48px;
    color: #ffffff;
    font-family: "conthraxsemibold";
    text-transform: uppercase;
}


.oneServicePagebtn {
    box-shadow: inset 9.33333px -9.33333px 9.33333px rgba(149, 149, 149, 0.1), inset -9.33333px 9.33333px 9.33333px rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(18.6667px);
    background: #C4C4C4;
    border-radius: 3px;
    font-family: 'conthraxsemibold';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    border: 0;
    width: 470px;
    padding: 13px 28px;
    display: flex;
    margin: 0 auto;
    margin-bottom: 67px;
}

.oneServicePagebtn:hover, .receptionBtn:hover {
    background: linear-gradient(90deg, #13235A 25%, rgba(67, 73, 95, 0.2) 100%);
    box-shadow: inset 9.33333px -9.33333px 9.33333px rgba(149, 149, 149, 0.1), inset -9.33333px 9.33333px 9.33333px rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(18.6667px);
    border-radius: 3px;
    transition: .2s;
    color: #FFFFFF;
    cursor: pointer;
}


.oneServicePagebtn:active, .receptionBtn:active {
    background: rgba(0, 0, 0, 0.12);
    box-shadow: inset 9.33333px -9.33333px 9.33333px rgba(149, 149, 149, 0.1), inset -9.33333px 9.33333px 9.33333px rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(18.6667px);
}

.pricePage {
    padding-top: 32px;
}

.pricePage .container {
    max-width: 1125px;
    margin: 0 auto;
}

.price {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 230px;
    grid-row-gap: 63px;
    grid-template-areas: 
    "b c"
    "a p"
    "a ss";
}

.blackLom {
    grid-area: b;
    display: flex;
    flex-direction: column;
    
}
.cuprum {
    grid-area: c;
    display: flex;
    flex-direction: column;
}
.alum {
    grid-area: a;
    display: flex;
    flex-direction: column;
}
.plumbum {
    grid-area: p;
    display: flex;
    flex-direction: column;
}

.stainlessSteel {
    grid-area: ss;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.itemTitle {
    text-align:center;
    font-family: 'conthraxsemibold';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    text-transform: uppercase;
    color: #959595;
}

.alum .itemTitle  {
    margin-bottom: 23px;
}

.plumbum .itemTitle {
    margin-bottom: 50px;
}

.stainlessSteel .itemTitle {
    margin-bottom: 40;
}

.blackLomTable , .cuprumTable  {
    margin-top: 52px;
}


tr {
    text-align: left;
}


tr, td {
    font-family: 'conthraxsemibold';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 50px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.materials {
    margin-top: 60px;
}

.materialsHeadlines {
    text-align: center;
    color: #FFFFFF;
    font-style: normal;
    line-height: 30px;
    margin-bottom: 40px;
}

.materialsTitle {
    font-family: 'conthraxsemibold';
    font-size: 24px;
    text-transform: uppercase;
    margin-bottom: 25px;
}

.materialsSubTitle {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    text-align: center;
}

.materialsTypes {
    display: grid;
    grid-template-areas: "a b";
    grid-template-rows: 7fr;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    padding-bottom: 119px;
    
}

.materialsTypesSubtitle {
    display: flex;
    min-height: 73px;
    justify-content: center;
    width: 100%;
    font-family: 'conthraxsemibold';    
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    text-transform: uppercase;
    color: #959595;
}

.materialsTypesGroupOne {
    grid-area: a;
}

.materialsTypesGroupTwo {
    grid-area: b;
}

.materialsTypesGroupTwo .materialsTypesItem {
    padding-left: 50px;
}

.materialsTypesItem {
    font-family: 'conthraxsemibold';
    font-size: 18px;
    line-height: 50px;
    text-transform: uppercase;
    color: #FFFFFF;
    border-top: 2px solid #666666;
    height: 100px;
    display: flex;
    align-items: center;
}

.materialsTypesItem:last-child {
    padding-bottom: 5px;
    border-bottom: 2px solid #666666;
}


.reception {
    background-image: url('./../../../images/OneServicePage/4ffbd1c2f70ae4e2183301e7e0b80ce6.png');
    background-repeat: no-repeat;
    background-position: center;
    background-position-x: 34%;
    background-position-y: 76%;
}

.receptionWrapper {
    padding: 40px 0px 110px 0px;
}

.receptionTitle {
    text-align: center;
    font-family: 'conthraxsemibold';
    font-size: 32px;
    line-height: 38px;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.45); 
    margin-bottom: 35px;
}

.receptionInner {
    display: flex;
    justify-content: space-between;
}

.GoodTerms {
    display: flex;
    flex-direction: column;
    gap: 40px;
    font-family: 'conthraxsemibold';
    text-align: left;
    font-size: 16px;
    line-height: 30px;
    text-transform: uppercase;
    color: #000000;
    padding-top: 50px;
}

.GoodTermsList {
    max-width: 680px;
    list-style-position: inside;
}

.GoodTermsText {
    max-width: 570px;
}


.receptionBtn {
    box-shadow: inset 9.33333px -9.33333px 9.33333px rgba(149, 149, 149, 0.1), inset -9.33333px 9.33333px 9.33333px rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(18.6667px);
    background: #C4C4C4;
    border-radius: 3px;
    font-family: 'conthraxsemibold';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    border: 0;
    width: 470px;
    padding: 10px 28px;
    margin-top: 105px;
}

.card {
    height: 590px;
    width: 402px;
    background: #C4C4C4;
    box-shadow: inset 33.0667px -33.0667px 33.0667px rgba(149, 149, 149, 0.1), inset -33.0667px 33.0667px 33.0667px rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(66.1333px);
    padding: 32px 0px 48px 0px;
} 

.BadTermsTitle {
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    color: #959595;
    font-family: 'conthraxsemibold';
    margin-bottom: 43px;
    padding: 0px 22px;
}

.BadTermsList {
    padding: 0px 33px;
    list-style-position: inside;
    font-family: 'conthraxsemibold';
    font-size: 15px;
    line-height: 27px;
    text-transform: uppercase;
    color: #000000;
}

.BadTermsList li {
    margin-bottom: 42px;
}

.BadTermsList li:last-child {
    margin-bottom: 0;
}

.sliderBox {
    padding-top: 140px;
}


